* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
}
html {
  font-size: 1px;
  color: #222;
}
body {
  font-size: 16rem;
}
a {
  text-decoration: none;
  color: inherit;
}
